.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center; // Default Mobile view is center aligned

    // @include breakpoint-up(large){// display grid for only desktop view
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr) 2fr; //3 columns same size, last column bigger
    //     grid-template-rows: repeat(2, 1fr);//two rows same size
    //     grid-template-areas:    //template
    //     "logo links1 links2 cta"
    //     "social links1 links2 cta";
    // }
    .container {
        @include breakpoint-up(large) {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 3fr;
          grid-template-rows: 1fr auto;
          grid-template-areas:
            'logo links1 links2 cta'
            'social links1 links2 copyright';
          gap: 1rem;
          justify-items: start;
        }
    }
      
    a {// make sure all the link are white
        color: $white;
    }

    &__logo{
        display: inline block;
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }
        @include breakpoint-up(large){
            grid-area: logo;   
        }
    }// end logo

    &__social {
        @include breakpoint-down(medium) {
            margin-top: 1.875rem;
            margin-bottom: 1.875rem;
        }
        @include breakpoint-up(large){
            margin-bottom: 0rem;
            grid-area: social; 
            align-self: end;  
        }
        a {
            display: inline-block;
            height: 1.25rem;
            svg path {
                transition: fill 200ms ease-in-out;
              }
              &:hover svg path { //animation to turn the svg links green
                fill: $limeGreen;
              }
        }
        a:not(:last-child){
            // anchor links will have padding to right (in-between link)
            // exept the last one
            margin-right: 1rem;
        }

    }// end social

    &__links {
        display: flex; //flex parent
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;
        @include breakpoint-up(large){
            justify-content: space-between;
            align-items: start;
        }
        &.col1{
            @include breakpoint-up(large){
                grid-area: links1;   
            }
        }
        &.col2 {
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
            @include breakpoint-up(large){
                grid-area: links2;   
            }
        }
        a {
            line-height: 2.25;
            transition: color 150ms ease-in-out;
            &:hover {
                color: $limeGreen;
                box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
            }
        }

    }//end links

    &__cta {
        @include breakpoint-up(large){
            grid-area: cta;   
            justify-self: end;
        }
        a.button {
            margin-bottom: 1.875rem;
        }
    }// end cta
    &__copyright{
        font-size: 0.8125rem;
        color: $grayishBlue;
        @include breakpoint-up(large) {
          grid-area: copyright;
          align-self: end;
          justify-self: end;
        }
    }// end copyright
    .attribution {
        margin-top: 4rem;
        font-size: 0.875rem;
    }//end attribution
}// end footer










